/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
  --black: #001219;
  --dkSeeGreen: #005f73;
  --ltSeeGreen: #3d9397;
  --ltGreen: #94d28d;
  --ltYellow: #e9d8a6;
  --ltOrange: #ee9800;
  --dkOrange: #ca6702;
  --dkdkOrange: #bb3e03;
  --dkBrown: #9b2226;
}

/* generic site styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbe5de;
  padding: 0;
  margin: 0;
}

section {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto 5rem auto;
}

section h2 {
  font-size: 2.5rem;
}

/*****************
New styles begin here and continue to the end of the page 
****************/

.header {
  background-color: var(--ltYellow);
}
header {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav li {
  margin-bottom: 0.5rem;
  flex-basis: 48%;
}
nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  display: block;
  background-color: var(--dkBrown);
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
nav li:first-child a {
  background-color: transparent;
}

nav a:hover {
  background-color: var(--black);
  color: var(--ltYellow);
}

/* hero styles */

#hero {
  background-color: var(--dkOrange);
  text-align: center;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

#hero img {
  max-width: 100%;
  max-height: 454px;
}
section ul,
footer ul,
header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* To keep mobile screens from being stupid long, consider setting a max height on the images and hide the overflow. 

Spelled out the individual border styles so border-color could go elsewhere. Styling is the same for all borders except the color. */
.row {
  display: block;
}
.row img {
  width: 27%;
}
.row p {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

figure {
  margin: 0 0 0.5rem 0;
  padding: 0;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  height: 100%;
  border-width: 10px;
  border-style: solid;
  border-radius: 5px;
}
/* strange open space at the bottom of the box which shows through the transparent overlay - this kills it */

.stripe {
  background-color: var(--dkSeeGreen);
  color: white;
  padding: 1rem 0 2rem 0;
}
figure img {
  margin-bottom: -4px;
  width: 100%;
  object-fit: cover;
  object-position: 0 -150px;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.875rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* make the a have a big clickable area with display: block - the link occupies its containing element, the figcaption */

figcaption a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--black);
}

/* style is doing double duty, styling border color and hover color. Only one declaration usually applies though.  */

.color2,
.color2 a:hover {
  border-color: var(--dkSeeGreen);
  color: var(--dkSeeGreen);
}

.color3,
.color3 a:hover {
  border-color: var(--ltSeeGreen);
  color: var(--ltSeeGreen);
}

.color4,
.color4 a:hover {
  border-color: var(--ltGreen);
  color: var(--ltGreen);
}

.color6,
.color6 a:hover {
  border-color: var(--ltOrange);
  color: var(--ltOrange);
}

.color7,
.color7 a:hover {
  border-color: var(--dkOrange);
  color: var(--dkOrange);
}

.color8,
.color8 a:hover {
  border-color: var(--dkdkOrange);
  color: var(--dkdkOrange);
}

h4 {
  margin-top: 0;
}

footer {
  background-color: var(--ltYellow);
  padding: 30px;
}
footer span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer ul {
  display: flex;
  width: 50%;
  gap: 7%;
}

footer address {
  font-weight: bold;
}
/* turn on flexbox here - prior to this, elements stacked individually as blocks */
#popart figure {
  background-color: var(--dkdkOrange);
}

#popart figure img {
  object-position: 0;
  height: 100%;
  object-fit: cover;
}
#donut img {
  width: 100%;
}
#donut ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.d3 {
  grid-row: 1/2;
}
@media (min-width: 550px) {
  section ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  section li {
    flex-basis: 49.5%;
  }
  /* turn off object position, inherit object-fit: cover */
  figure img {
    object-position: 0;
  }

  .row {
    display: flex;
    gap: 4%;
  }
  .row p {
    line-height: 1;
  }
  .span1 {
    flex-basis: 32%;
  }
  .span2 {
    flex-basis: 64%;
  }
  footer span {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    padding: 1%;
    gap: 0;
  }
  .social-icons {
    flex-basis: 50%;
  }
  nav ul {
    justify-content: center;
    gap: 1.2em;
  }
  nav li {
    margin-bottom: 0;
    flex-basis: auto;
  }

  nav a {
    color: var(--black);
    background-color: transparent;
  }
  nav a:hover {
    color: var(--dkSeeGreen);
    background-color: transparent;
  }
  #popular li:last-child {
    flex-basis: 100%;
  }
  #popular li:last-child img {
    object-position: 0 -350px;
  }
  #popart ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .col-span-2 {
    grid-column: span 2;
  }
  .col-span-3 {
    grid-column: span 3;
  }

  .row-span-2 {
    grid-row: span 2;
  }
  .row-span-2 figure {
    max-height: unset;
  }
  #popart ul li figure {
    height: 100%;
  }
}

@media (min-width: 800px) {
  section h2 {
    margin-left: 100px;
  }
  section li {
    flex-basis: 32.5%;
  }
  .span1 {
    flex-basis: 32.5%;
  }
  .span2 {
    flex-basis: 66.5%;
  }
  .row p {
    line-height: 2;
  }
  .row {
    gap: 1%;
  }
  .social-icons {
    flex-basis: 37%;
  }
  nav ul {
    justify-content: flex-end;
  }
  nav li:first-child {
    flex-basis: auto;
    margin: 0 auto;
    order: 2;
  }
  nav li:nth-child(4),
  nav li:nth-child(5) {
    order: 3;
  }

  nav li:nth-child(2),
  nav li:nth-child(3) {
    order: 1;
  }
  #popular li:last-child {
    flex-basis: 32.5%;
  }
  #popular li:last-child img {
    object-position: 0;
  }

  #donut ul {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .d1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .d2 {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .d3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .d4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .d5 {
    grid-column: 2/3;
    grid-row: 3/6;
  }
  .d3 img,
  .author {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .d3 img {
    opacity: 0.2;
  }
  .author {
    padding: 1rem;
    z-index: 1000;
  }
}
.bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.bounce:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
